body{
    background-color:gainsboro;
}

header {
    margin: 0 auto;
    position: relative;
    width: 980px;
    padding-bottom: 25px;
    color: black;
}

header h1 {
    padding-top: 20px;
}

.card img{
    height: 200px;
    width: auto;
}


